
body {
    background-color: rgb(253, 235, 237);
}

h2, button {
    font-family: 'Sanchez', serif;
}

h2 {
    color: rgb(80, 76, 80);
}

.display-guesses, #letterGuessed {
    color: rgb(80, 76, 80);
    font-family: 'Anton', sans-serif;
    font-size: 2em;
}

.jumbotron {
    background: rgb(247, 104, 128) url("../images/cupcakes.jpg") no-repeat center;
    opacity: .8;
    height: 350px;
    padding-top: 150px;

}

.jumbotron .h1, .jumbotron h1 {
    font-family: 'Anton', sans-serif;
    color: white;
    background-color: rgba(236, 0, 140, .6);
    width: 635px;
    padding: 10px;
    margin: 0 auto;
}

img {
    box-shadow: 5px 5px rgba(236, 0, 140, .6);
}

#wins {
    width: 300px;
    height: 90px;
    box-shadow: 5px 5px #9cd8d6;
    background-color: rgb(80, 76, 80);;
    margin: 20px auto 10px auto;
    font-family: 'Anton', sans-serif;
    color: white;
    padding: 5px 5px 5px 10px;
    position: relative;
}

.win-count {
    position: absolute;
    left: 100px;
    top: 27px;
    font-size: 2em;
}

.btn {
    background: none;
    color: rgb(236, 0, 140);
    border: 2px solid rgb(236, 0, 140);
    border-radius: 0;
} 

.btn.focus, .btn:focus, .btn:hover {
    background-color: rgb(192, 13, 120);
    border: 2px solid rgb(192, 13, 120);
    color: rgb(231, 227, 227);
}

.letter-guessed {
    float: left;
    font-size: 2em;
    margin: 5px;
    font-family: 'Anton', sans-serif;
    color: rgb(80, 76, 80);
}

.place-holder {
    height: 30px;
    width: 20px;
    border-bottom: 2px solid rgb(236, 0, 140);
}

.display-guesses {
    position: absolute;
    left: 300px;
    top: -3px;
}

.hide {
    display: none;
}

.relative {
    position: relative;
}

.special {
 position: absolute;
 top: -2px;
 left: 25%;
}

